*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    scroll-behavior: smooth;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinea el logo a la izquierda */
    padding-left: 25px; /* Añade sangría a la izquierda */
}

.logo-container img {
    top: 10px;
    position: relative;
    width: 350px;
    display: block;
    cursor: pointer;
    margin-left: 25px; /* Añade margen a la izquierda */
}
.body{
    font-family: 'Arial', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

header{
        height: 100vh;
        background-image: linear-gradient(to right, rgba(6, 44, 89, 0.4), rgba(67, 52, 109, 0.4), rgba(128, 60, 129, 0.4)), url('../img/bus.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }

    /* Esto es el logo NicaBus */
    .head{
        text-align: center;
        padding: 0%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #fff;
    }


 /* H1 - H2*/
 .contenedor.head h1 {
    margin-bottom: 20px; /* Ajusta este valor según tus necesidades */
}

.contenedor.head h2 {
    margin-bottom: 20px; /* Ajusta este valor según tus necesidades */
}

.menu{
    position: fixed;
    z-index: 10;
    top: 30px;
    right: 30px;
    background-color: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 280px;
    height: 100%;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .3);
    z-index: 5;
}

.spread{
    transform: translate(0);
    width: 300px;
}

.menu-navegacion a{
    color: #fff;
    text-decoration: none;
}

.titulo{
    font-size: 80px;
    margin-bottom: 20px;
    text-align: center;
}

.copy{
    font-size: 25px;
    font-weight: 280;
}


.texto {
    text-align: justify;
  }


/* Formulario de búsqueda */
.search-form {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-image: linear-gradient(to right, #062c59, #43346d, #803c81);
    padding: 30px;
    border-radius: 10px;
    margin-top: 20px;
  }

  /* Texto del formulario */
  .search-form label {
    font-weight: bold;
    font-size: 21px;
    color: white;
  }

  .search-form input {
    padding: 7px;
    font-size: 21px;
    border-radius: 10px;
    border: 3px solid #bd4495;
  }

  .search__swap-directions {
    display: flex;
    justify-content: center;
  }

  .search__swap-directions img {
    cursor: pointer;
  }

  /* Botón de búsqueda */
  .search-form button {
    padding: 15px 30px; /* Aumentado el padding para hacer el botón más grande */
    font-size: 24px; /* Aumentado el tamaño de la fuente */
    cursor: pointer;
    background-image: linear-gradient(to right, #2b1f51, #443570, #653c8f, #9857b6, #d194e3);
    border: none;
    color: white;
    border-radius: 15px; /* Ajustado a 15px para mayor redondez */
    margin-left: 10px; /* Espacio entre el input y el botón */
    display: flex;
    align-items: center;
    justify-content: center;
  }

/*  Cómo funciona NicaBus: */
    .subtitulo{
        text-align: center;
        font-weight: 300;
        color: #9f8ad0;
        margin-bottom: 40px;
        font-size: 40px;
    }
    .texto-centrado {
        text-align: center;
        margin-bottom: 30px;
        font-size: 130%;
    }
    .contenedor-servicio {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    .service {
        width: 45%; 
        margin-bottom: 20px;
        display: flex; 
        align-items: center;
    }
    
    /* Estilo para el ícono de cada servicio */
    .icono-servicio {
        padding: 15px;
        border-radius: 15px;
        margin-right: 15px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    
    /* Inicio de iconos en Segunda seccion del programa */
    .icono-servicio.morado {
        background-color: #7b4d8b;
        border: 7px solid #d6c6ff; 
    }

    .icono-servicio.naranja {
        background-color: #ff8c00; 
        border: 7px solid #ffdab9; 
    }

    .icono-servicio.celeste {
        background-color: #16B5F1; 
        border: 7px solid #B2E4FA; 
    }
    
    .icono-servicio.verde {
        background-color: #9AAF37;  /* Verde turquesa verdoso */
        border: 7px solid #CEE2CA;  /* Borde en verde turquesa claro */
    }
    

/* Galeria de departamentos  */
    .gallery{
    background: #f2f2f2;
}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria{
    object-fit: cover;
    width:30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.imagen-light{
    position: fixed;
    display: flex;
    background: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);
}

.agregar-imagen{
    object-fit: cover;
    width:60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}


/* representar la sección de pie de página */
footer{
    background: #9f8ad0;
    padding-bottom: 0.1px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us {
    width: 40%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 45px;
}

.brand + p {
    font-weight: 500;
    font-size: 20px;
}

.social-media {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon {
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon:hover{
    background: #fff;
    color: #764ba2;
}

.social-media-icon i {
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

/* Responsito - Móviles: Hasta 768px*/
@media screen and (max-width:768px) {
    /* Logo NicaBus */
    .logo-container {
        padding-left: 5px;
        align-items: center;
    }
    .logo-container img {
        width: 80%;       /* Se mantiene el ancho reducido */
        margin-left: 2%;  /* Se mantiene el margen izquierdo reducido */
        top: 20px;
    }
    /* H1 - H2 en Homepage*/
    .contenedor.head h1 {
        font-size: 30px; /* Se reduce el tamaño del h1 a 30px. */
    }

    .contenedor.head h2 {
        font-size: 20px; /* Se reduce el tamaño del h2 a 20px. */
    }
    /* Seccion de iconos - NicaBus*/
    .service {
        width: 100%; /* Ocupará el 100% del ancho */
        margin-bottom: 10px;
    }

    .subtitulo {
        font-size: 30px;
    }
    /* Formulario de busqueda */
    .search-form {
        flex-direction: column;
        align-items: center;
        padding: 20px; /* Reducir padding */
      }

      /* Ajuste de tamaño de fuente y margen */
      .search-form label {
        font-size: 18px; /* Reducción del tamaño de la fuente */
        margin-bottom: 10px; /* Espacio entre la etiqueta y el input */
      }

      .search-form input {
        font-size: 18px; /* Reducción del tamaño de la fuente */
        width: 100%; /* Utiliza todo el ancho disponible */
        margin-bottom: 15px; /* Espacio entre el input y el botón */
      }

      .search-form button {
        align-self: center; /* Asegura que el botón esté centrado */
        width: auto;
      }

    /* Responsito - Tablets: 769px y 1024px */
    @media screen and (min-width: 769px) and (max-width: 1024px) {

        .contenedor.head h1 {
            font-size: 30px; /* Se reduce el tamaño del h1 en un 10% respecto al tamaño original */
        }
    
        .contenedor.head h2 {
            font-size: 30px; /* Se reduce el tamaño del h2 en un 10% respecto al tamaño original */
        }
    
        .service {
            width: 50%;
            margin-bottom: 15px;
        }
    
        .subtitulo {
            font-size: 35px;
        }
    
        .texto-centrado {
            font-size: 115%;  /* Adaptamos el tamaño del texto para tablets */
        }
    
    /* H1 - H2 en Homepage */
    
        .contenedor.head h1 {
            font-size: 50px; /* Se reduce el tamaño del h1 a 30px. */
        }
    
        .contenedor.head h2 {
            font-size: 25px; /* Se reduce el tamaño del h2 a 20px. */
        }
    
    /* Adaptamos el tamaño del texto para tablets */
        .search-form {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 3%;
            border: 5px solid #7b4d8b;
            border-radius: 15px;
        }
    
        /*  Texto "origen" "destino" */
        .search-form label {
            font-size: 24px;
        }
        .search-form input {
            font-size: 1.1em;
            width: 60%;
            font-size: 1.2em;
            margin-bottom: 0;
            display: inline-block;
            padding: 10px;
        }
    
        .search-form input:first-of-type {
            margin-right: 4%;
        }
    
        .search-form button {
            width: auto;
            padding: 2% 4%;  /* Un aproximado para que el padding sea proporcional, puedes ajustar según necesidad */
            font-size: 1.5em;  /* Esto hará que el tamaño de la fuente sea 1.5 veces el tamaño heredado */
            margin-left: 2%;  /* Aproximado para el margen izquierdo */
        } 
}
}