body {
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(to right, #062c59, #43346d, #803c81);
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.confirmacion {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 500px;
}

.confirmacion h1 {
    color: black;
    margin-bottom: 30px;
}

.confirmacion p {
    color: black;
    margin-bottom: 30px;
}

.confirmacion a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.confirmacion a:hover {
    opacity: 0.9;
    transform: scale(1.05);
}

.confirmacion .agregar-horario-btn {
    background-color: #ff8c00; 
    border: 7px solid #ffdab9; 
    color: white;
    margin-right: 10px;
}

.confirmacion .volver-inicio-btn {
    background-color: #9AAF37;  
    border: 7px solid #CEE2CA;  
    color: white;
    margin-left: 10px;
}
