body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.confirmacion {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.confirmacion h1 {
    color: #4CAF50;
}

.confirmacion p {
    color: #333;
}

.confirmacion a {
    text-decoration: none;
    color: #4CAF50;
    margin: 15px 10px;
    display: inline-block;
}
