/* Estilo para el contenedor principal de horarios */
.resultado-container {
    font-family: Arial, sans-serif;
    margin: 20px auto;
    width: 80%;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

/* Estilo para la barra de ruta */
.ruta-bar {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.2em; /* Reduce el tamaño del texto */
    border-radius: 10px 10px 0 0;
    background-color: #7b4d8b;
    border: 5px solid #d6c6ff; /* Aumenta el grosor del borde */
}

/* Estilo para el contenedor de detalles */
.formulario-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Estilo para el encabezado h2 */
.formulario-container h2 {
    font-size: 1.2em; /* Reduce el tamaño del encabezado */
    margin-bottom: 5px; /* Añade un espacio inferior más pequeño */
    text-align: center; /* Centra el texto */
    padding: 10px 0; /* Añade espacio interior vertical */
    background-color: #7b4d8b; /* Cambia el color del fondo del encabezado */
    color: white; /* Cambia el color del texto a blanco */
    border-radius: 10px; /* Añade bordes redondeados */
}

/* Estilo para los cuadros de entrada de texto */
.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-weight: bold;
}

.input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

/* Estilo para el botón "Agregar horario" */
.agregar-btn {
    background-color: #7b4d8b;
    border: 5px solid #d6c6ff; /* Aumenta el grosor del borde */
    color: white;
    padding: 12px 30px; /* Aumenta el espacio interno */
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
}

/* Estilo para el contenedor que envuelve al boton */
.button-container {
    text-align: center; /* Centra horizontalmente el contenido */
  }