body {
    display: flex; /* Habilita Flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    min-height: 100vh; /* Altura mínima del 100% del viewport */
    margin: 0; /* Elimina los márgenes por defecto */
    padding: 0; /* Elimina el relleno por defecto */
    background-image: url('../img/c.granada.jpg');
    background-size: cover; /* Asegura que la imagen cubra toda el área */
    background-position: center; /* Centra la imagen en la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    font-family: 'Arial', sans-serif;
}

h1 {
    text-align: center; /* Centra el texto */
    color: #333; /* Color del texto */
    font-size: 30px; /* Tamaño de la fuente */
    margin-bottom: 20px; /* Espacio debajo del encabezado */
}

label {
    display: block; /* Hace que el label ocupe su propia línea */
    text-align: center; /* Centra el texto */
    margin-bottom: 10px; /* Espacio debajo del label */
    color: #666; /* Color del texto */
    font-size: 18px; /* Tamaño de la fuente */
}

.buscar-terminal-container {
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 500px; /* O el ancho que prefieras */
    /* Resto de tus estilos... */
}

#buscar-terminal-form {
    margin-bottom: 30px;
    padding: 20px;
}

#resultados-terminales {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff; /* Fondo blanco */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Sombra suave para dar profundidad */
    color: #333; /* Color de texto oscuro para mejor legibilidad */
    font-size: 16px; /* Tamaño de fuente adecuado */
    max-height: 300px; /* Altura máxima para evitar que sea demasiado grande */
    overflow-y: auto; /* Permite desplazamiento si el contenido es muy largo */
}

#buscar-terminal-form input,
#buscar-terminal-form select {
    width: 100%;
    padding: 12px 15px; /* Aumentar el relleno para una mejor sensación */
    margin-bottom: 15px;
    border: 1px solid #ddd; /* Borde más suave */
    border-radius: 6px; /* Bordes redondeados más suaves */
    box-sizing: border-box; /* Para mantener el ancho correcto */
    font-size: 16px; /* Tamaño de fuente más grande para mejor legibilidad */
}

#buscar-terminal-form button {
    width: 100%;
    padding: 15px 20px;
    font-size: 18px; /* Aumentar el tamaño de la fuente */
    color: #fff;
    background-color: #28a745; /* Color verde para el botón, se siente más amigable */
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Agregar transformación al hover */
}

#buscar-terminal-form button:hover {
    background-color: #218838; /* Color más oscuro al pasar el mouse */
    transform: scale(1.05); /* Ligeramente más grande al pasar el mouse */
}

#resultados-terminales h2 {
    color: #007bff; /* Color para los títulos de las terminales */
    margin-top: 10px;
    margin-bottom: 5px;
}

#resultados-terminales p {
    margin-bottom: 10px; /* Espaciado entre terminales */
}

#resultados-terminales .terminal {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f8f9fa; /* Fondo ligeramente gris para cada terminal */
    border: 1px solid #ddd; /* Borde sutil */
    border-radius: 4px; /* Bordes redondeados */
}

/* Responsitive - Dispositivos moviles */

@media screen and (max-width: 768px) {
    body {
        flex-direction: column; /* Cambia la dirección de Flexbox a vertical */
        justify-content: flex-start; /* Alinea el contenido al inicio para evitar el centrado vertical */
        padding: 20px; /* Agrega un poco de relleno para no pegarse a los bordes */
        background-size: auto 100%; /* Ajusta el tamaño del fondo para dispositivos móviles */
    }

    .buscar-terminal-container {
        width: 100%; /* Hace que el contenedor ocupe todo el ancho disponible */
        max-width: none; /* Elimina el ancho máximo preestablecido */
        padding: 20px; /* Reduce el relleno para más espacio */
    }

    h1 {
        font-size: 24px; /* Reduce el tamaño de la fuente para encabezados */
    }

    label, #resultados-terminales, #buscar-terminal-form input, #buscar-terminal-form select, #buscar-terminal-form button {
        font-size: 14px; /* Reduce el tamaño de la fuente para otros textos */
    }

    #resultados-terminales {
        max-height: 200px; /* Reduce la altura máxima para la caja de resultados */
    }
}