.buscar-terminal-container {
    text-align: center;
    padding: 20px;
    background-color: #d6c6ff;                        /* Color de fondo */
    border-radius: 8px;                                 /*Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);         /* Sombra ligera */
    max-width: 400px;                                   /* Ancho del formulario */
    margin: auto;                                       /* Centrar el formulario */
}

#buscar-terminal-form {
    margin-bottom: 20px;
    padding: 20px;
}

#resultados-terminales {
    margin-top: 20px;
}

#buscar-terminal-form input,
#buscar-terminal-form select {
    width: 100%;                                        /* Ancho completo */
    padding: 10px;                                      /* Espaciado interno */
    margin-bottom: 10px;                                /* Espaciado entre campos */
    border: 1px solid #ccc;                           /* Borde */
    border-radius: 4px;                                 /* Bordes redondeados */
}

#resultados-terminales {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff; /* Fondo blanco para los resultados */
    border-radius: 4px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

#buscar-terminal-form button {
    width: 100%; /* Ancho completo */
    padding: 15px 20px; /* Espaciado interno grande */
    font-size: 16px; /* Tamaño de letra grande */
    color: #fff; /* Texto blanco */
    background-color: #007bff; /* Color de fondo (puedes cambiarlo) */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    transition: background-color 0.3s; /* Transición suave para el hover */
}

#buscar-terminal-form button:hover {
    background-color: #0056b3; /* Cambiar color al pasar el mouse por encima */
}
