.buscar-terminal-container {
    display: flex; /* Usa Flexbox */
    align-items: center; /* Alinea los elementos verticalmente */
    justify-content: space-between; /* Espacio entre elementos */
    padding: 20px;
    background-color: #e9ecef; /* Cambia a un color de fondo suave */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Ajusta el ancho máximo */
    margin: auto;
}

#buscar-terminal-form {
    display: flex; /* Usa Flexbox */
    width: 100%;
    align-items: center; /* Alinea los elementos verticalmente */
    justify-content: space-between; /* Espacio entre elementos */
}

#buscar-terminal-form input,
#buscar-terminal-form select {
    width: calc(33% - 10px); /* Ajusta el ancho y resta el margen */
    margin-right: 10px; /* Espaciado a la derecha */
}

#buscar-terminal-form button:last-child {
    margin-right: 0; /* No margen a la derecha para el último elemento */
}
#buscar-terminal-form button {
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745; /* Cambia el color de fondo */
    border: 2px solid transparent; /* Borde transparente (puede cambiar) */
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#buscar-terminal-form button:hover {
    background-color: #218838; /* Oscurece el color al pasar el mouse */
    border-color: #1e7e34; /* Cambia el color del borde */
}
